{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>{{.i18n.Tr "startpage.app_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-flame"></i> {{.i18n.Tr "startpage.install"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.install_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> {{.i18n.Tr "startpage.platform"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.platform_desc" | Str2html}}
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> {{.i18n.Tr "startpage.lightweight"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.lightweight_desc" | Str2html}}
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> {{.i18n.Tr "startpage.license"}}
			</h1>
			<p class="large">
				{{.i18n.Tr "startpage.license_desc" | Str2html}}
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center aligned centered column">
			<div class="ui message">
			  <div class="header">
			    Development Log:
			  </div>
			  <ul class="list">
			    <li>2020.01.20: Open Dream beta 1.01 is live!</li>
			    <li>2020.01.19: Server reset for beta deployment</li>
					<li>2020.01.07: New organization page</li>
					<li>2019.11.29: LFS beta 0.19 is live</li>
					<li>2019.10.15: LFS beta testing</li>
					<li>2019.08.02: Large File Sharing (LFS) development proposed</li>
					<li>2019.07.15: Git clinet revamped</li>
					<li>2019.05.11: Server migration tool</li>
					<li>2019.05.01: Jpeg + png support to Markdown files</li>
					<li>2019.02.15: Resolved the zoom issues with preview</li>
					<li>2019.01.21: Preview function on ps files</li>
					<li>2018.12.21: Open Dream alpha 0.01 is live</li>
			  </ul>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
