{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
				Open Dream: Open Source Illustration
				</h1>
				<h2>Where creativity happens together</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-flame"></i> {{.i18n.Tr "startpage.install"}}
			</h1>
			<p class="large">
				Simply <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-binary/">run the binary</a> for your platform. Or ship Open Dream with <a target="_blank" rel="noopener noreferrer" href="https://github.com/go-gitea/gitea/tree/master/docker">Docker</a> or <a target="_blank" rel="noopener noreferrer" href="https://github.com/alvaroaleman/ansible-gitea/blob/master/Vagrantfile">Vagrant</a>, or get it <a target="_blank" rel="noopener noreferrer" href="https://docs.gitea.io/en-us/install-from-package/">packaged</a>.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-device-desktop"></i> {{.i18n.Tr "startpage.platform"}}
			</h1>
			<p class="large">
				Open Dream runs anywhere <a target="_blank" rel="noopener noreferrer" href="http://golang.org/">Go</a> can compile for: Windows, macOS, Linux, ARM, etc. Choose the one you love!
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-rocket"></i> {{.i18n.Tr "startpage.lightweight"}}
			</h1>
			<p class="large">
				Open Dream has low minimal requirements and can run on an inexpensive Raspberry Pi. Save your machine energy!
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				<i class="octicon octicon-code"></i> {{.i18n.Tr "startpage.license"}}
			</h1>
			<p class="large">
				Go get <a target="_blank" rel="noopener noreferrer" href="https://github.com/hansolowu/DreamGit">code</a>! Join us by <a target="_blank" rel="noopener noreferrer" href="https://github.com/hansolowu/DreamGit">contributing</a> to make this project even better. Don't be shy to be a contributor!
			</p>
		</div>
	</div>
	<div class="ui attached message">
	  <div class="header">
	    Welcome to our site!
	  </div>
	  <p>Fill out the form below to sign-up for a new account</p>
	</div>
	<form class="ui form attached fluid segment">
	  <div class="two fields">
	    <div class="field">
	      <label>First Name</label>
	      <input placeholder="First Name" type="text">
	    </div>
	    <div class="field">
	      <label>Last Name</label>
	      <input placeholder="Last Name" type="text">
	    </div>
	  </div>
	  <div class="field">
	    <label>Username</label>
	    <input placeholder="Username" type="text">
	  </div>
	  <div class="field">
	    <label>Password</label>
	    <input type="password">
	  </div>
	  <div class="inline field">
	    <div class="ui checkbox">
	      <input type="checkbox" id="terms">
	      <label for="terms">I agree to the terms and conditions</label>
	    </div>
	  </div>
	  <div class="ui blue submit button">Submit</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center aligned centered column">
			<div class="ui message">
			  <div class="header">
			    Development Log:
			  </div>
			  <ul class="list">
			    <li>2020.01.20: Open Dream beta 1.01 is live!</li>
			    <li>2020.01.19: Server reset for beta deployment</li>
					<li>2020.01.07: New organization page</li>
					<li>2019.11.29: LFS beta 0.19 is live</li>
					<li>2019.10.15: LFS beta testing</li>
					<li>2019.08.02: Large File Sharing (LFS) development proposed</li>
					<li>2019.07.15: Git clinet revamped</li>
					<li>2019.05.11: Server migration tool</li>
					<li>2019.05.01: Jpeg + png support to Markdown files</li>
					<li>2019.02.15: Resolved the zoom issues with preview</li>
					<li>2019.01.21: Preview function on ps files</li>
					<li>2018.12.21: Open Dream alpha 0.01 is live</li>
			  </ul>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
