{{template "base/head" .}}
<div class="about">
  <div class="ui stackable middle very relaxed page grid">
    <div class="sixteen wide center aligned centered column">
      <div>
        <img class="logo" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
      </div>
      <div class="hero">
        <h1 class="ui icon header title">
        About This Project
        </h1>
      </div>
    </div>
  </div>
  <div class="ui stackable middle very relaxed page grid">
    <div class="sixteen wide centered column">
      <div class="ui large header">I have this crazy idea:</div>
      <p class="large">
        A 'GIT' like distributed version-control system, but designed for coordinating work among creators, enable collaborative open source creative projects.
      </p>
      <ul class="ui list">
        <li>Forked from gitea (gitea.io) but with OPEN DREAM flavor.</li>

        <li>A distributed version control system, like git, but build for collaborating works between artist/illustrators.</li>

        <li>Simplify the traditional git workflow, with consideration for non-programmers.</li>

        <li>New terminology for commands, more intuitive.</li>

        <li>More emphasis on web-base operation, as oppose to command-line operation.</li>

        <li>Better large file / binary file handling. </li>
      </ul>
      <div class="ui medium header">
        OK, just to prove I'm not THAT crazy, let me list out what I think why this is so difficult:
      </div>
      <ol class="ui list">
        <li><p>Unlike git for open source codes, where the difference between good and bad is usually pretty clear, thus contributors can eventually reach consensus, creative project, in its very own nature, is subjective. How do you unite people?
        Basically, there are a thousand Hamlets in a thousand people's eyes.</p></li>

        <li><p>Code, in its own native format (pre-compiled that is), is designed to be readable, a .py file can be distributed, viewed, edited and commented entirely in its own format, thus making a centralized web interface easy to build. Arts, varies hugely between different media, a manga could have a lot images, svg and text, a visual art piece could be one big .psd file. Those files are not readable in its own native format, very hard to do git like version control, and even harder to view, share and comment on a web interface.</p></li>

        <li><p>Artists are not nerds like us coders, even I find the git system unintuitive at times, let alone people with zero programming knowledge. How do we make an artistic git that is not only intuitive for pro artists, but EVERYONE?</p></li>
      </ol>
      <div class="ui medium header">
        So, this is what I am proposing:
      </div>
      <ol class="ui list">
        <li><p>The fundamental principle, regarding how to settle differences regarding differences between creative views, shouldn't be focused on what is 'good or bad', but:
          Share, Parallelism, Acceptance and Freedom.
        (I know this sounds hippie, but more details in SPAFprinciple.md)</p></li>

        <li><p>Limit the scope of this initial project, start by designing the system to focus on graphics projects (manga, illustration book, comics etc), with strong support for vector and raster files.</p></li>

        <li><p>Unlike git (a lightweight command line tool), this project should be built around a robust and intuitive graphical front-end (js), with a fast and scalable back-end (golang).</p></li>
      </ol>
      <div class="ui medium header">
        For any question, idea and critism please contact the author:
      </div>
      <div class="ui list">
        <div class="item">
          <i class="users icon"></i>
          <div class="content">
            Han Wu
          </div>
        </div>
        <div class="item">
          <i class="marker icon"></i>
          <div class="content">
            Toronto, Canada
          </div>
        </div>
        <div class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a href="mailto:hanwu91@gmail.com">hanwu91@gmail.com</a>
          </div>
        </div>
        <div class="item">
          <i class="linkify icon"></i>
          <div class="content">
            <a href="https://github.com/hansolowu/DreamGit">Repository</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "base/footer" .}}
